@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata&display=swap);

$light-grey: #A0A1A3;
$not-quite-white: #F3F5F3;
$not-quite-black: #111111;
$shadow-light: #e3e3e3;
$shadow-dark: #787878;

.page__wrapper {
    .page__content {
        .info__wrapper {
            .sub__text {
                padding-bottom: 5vh;
            }
            .buttons {
                padding: 5vh;
            }
        }
        .additional__inspo {
            padding: 75px;
            text-align: center;
        }
        .not__a__conduct {
            box-shadow: 10px 10px 25px $shadow-dark;
        }
        
    }
}