@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata&display=swap);

$light-grey: #A0A1A3;
$not-quite-white: #F3F5F3;
$not-quite-black: #111111;
$shadow-light: #e3e3e3;
$shadow-dark: #787878;

.page__wrapper {
    .page__content {
        .info__wrapper {
            .skip__text {
                padding-bottom: 5vh;
            }
        }
        .guide__para {
            padding-top: 75px;
            margin-bottom: 100px;
            h3 {
                margin-left: 0;
            }
            hr {
                opacity: 15%;
            }
            a {
                color: $not-quite-black;
            }
            li {
                @media (max-width:768px) {
                    font-size: 16px;
                }
            }
            .font__examples {
                a {
                    color: $not-quite-black;
                }
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                @media (max-width: 1024px) {
                    display: block;
                }
                .source__code__pro {
                    width: fit-content;
                    font-family: "Source Code Pro";
                }
                .inconsolata {
                    width: fit-content;
                    font-family: "Inconsolata";
                }
            }
            .color__examples {
                display: flex;
                width: 60vw;
                height: 30vh;
                margin-left: auto;
                margin-right: auto;
                @media (max-width:768px) {
                    width: 100%;
                    flex-direction: column;
                }
                .not__quite__black {
                    background-color: $not-quite-black;
                    flex: 2 2 0px;
                    .color__text {
                        .color__name {
                            text-align: center;
                            color: $not-quite-white;
                            
                        }
                        p {
                            padding-top: none;
                            text-align: center;
                            color: $not-quite-white;
                        }
                    }
                }
                .not__quite__white {
                    background-color: $not-quite-white;
                    flex: 2 2 0px;
                    .color__text {
                        .color__name {
                            text-align: center;
                            color: $not-quite-black;
                        }
                        p {
                            text-align: center;
                            color: $not-quite-black;
                        }
                    }
                }
                .light__grey {
                    background-color: $light-grey;
                    flex: 2 2 0px;
                    .color__text {
                        .color__name {
                            text-align: center;
                            color: $not-quite-black;
                            
                        }
                        p {
                            padding-top: none;
                            text-align: center;
                            color: $not-quite-black;
                        }
                    }
                }
            }
            .download__buttons {
                padding-top: 100px;
                display: flex;
                flex-direction: column;
                height: 55vh;
                a {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black; 
                    display: block;
                    width: 70%;
                    text-decoration: none;
                    color: $not-quite-black;
                    text-align: center;
                    box-shadow: 10px 10px 25px $shadow-light;
                    transition: 0.4s;
                    transition-timing-function: ease-out;
                    @media (max-width: 1024px) {
                        width: 80%;
                        font-size: 18px;
                    }
                }
                a:hover {
                    box-shadow: 10px 10px 25px $shadow-dark;
                }
            }
            
        }
    }
}