@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata&display=swap);

$light-grey: #A0A1A3;
$not-quite-white: #F3F5F3;
$not-quite-black: #111111;
$shadow-light: rgba(0, 0, 0, 0.13);
$shadow-dark: rgba(0, 0, 0, 0.56);

.page__wrapper {
    .page__content {
        .info__wrapper {
            .sub__text {
                padding-bottom: 5vh;
            }
            .buttons {
                padding-bottom: 5vh;
            }
        }
        a {
            color: $not-quite-black;
        }
    }
}