$font: "Source Code Pro", "Courier New", monospace;
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata&display=swap);

//Colors
$white: #FFFFFF;
$black: #000000;
$darkest-grey: #313131;
$lightest-grey: #A0A1A3;
$off-white: #F3F5F3;

html, body {
    font-family: 'Source Code Pro';
    font-size: 20px;
    line-height: 30px;
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    background-color: $off-white;
    color: #111111;
}

body::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    background-color: $off-white;
}

body::-webkit-scrollbar-thumb {
    background-color: $lightest-grey;
    -webkit-border-radius: 10px;
}
.page__wrapper {
    position: relative;
    .logo {
        padding: auto;
        margin-top: 4%;
        padding-bottom: 8vh;
        svg {
            margin-left: auto;
            margin-right: 0;
        }
    }
    .page__content {
        margin-left: 18%;
        margin-right: 18%;
        @media (max-width: 768px) {
            margin-top: 20%; 
            margin-left: 10%;
            margin-right: 10%;
        }
        h1 {
            @media (max-width: 768px) {
                font-size: 28px; 
            }
        }
        h2 {
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .info__wrapper {
            height: max-content;
            a {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                border-right: 2px solid black;
                border-bottom: 2px solid black; 
                display: block;
                width: 70%;
                text-decoration: none;
                color: $black;
                text-align: center;
                box-shadow: 10px 10px 25px #e3e3e3;
                transition: 0.4s;
                transition-timing-function: ease-out;
                @media (max-width: 1024px) {
                    width: 80%;
                    font-size: 18px;
                }
            }
            a:hover {
                box-shadow: 10px 10px 25px #787878;
            }
        }
        .about__para {
            padding-top: 75px;
            margin-bottom: 100px;
            h3  {
                font-size: 28px;
                margin-left: 3%;
            }
            p {
                font-size: 19px;
                line-height: 45px;
                @media (max-width: 768px) {
                    font-size: 17px;
                    line-height: 30px; 
                }
            }
            a {
                color: black;
            }
        }
        .help__para {
            padding-top: 75px;
            p {
                text-align: center;
            }
            a {
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                border-right: 2px solid black;
                border-bottom: 2px solid black; 
                display: block;
                width: 40%;
                text-decoration: none;
                color: $black;
                text-align: center;
                box-shadow: 10px 10px 25px #d9d9d9;
                &:last-child {
                    margin-top: 10px;
                    margin-bottom: 100px;
                }
                @media (max-width: 768px) {
                   width: 90%; 
                }
            }
                
        }
        
    }
    .footer {
        position: sticky;
        bottom: 0;
        left: 0;
        background-color: $off-white;
        box-shadow: 10px 10px 25px #b3b3b3;
        .page__footer__message {
            font-size: 16px;
            text-align: center;
            @media (max-width: 768px) {
                padding: auto;
                font-size: 15px;
            }
            a {
                color: $darkest-grey;
            }    
        }
    

    }
}
