$font: "Source Code Pro", "Courier New", monospace;
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata&display=swap);

//Colors
$light-grey: #A0A1A3;
$not-quite-white: #F3F5F3;
$not-quite-black: #111111;
$shadow-light: rgba(0, 0, 0, 0.13);
$shadow-dark: rgba(0, 0, 0, 0.56);

html, body {
    height: 100%;
    font-family: 'Source Code Pro';
    font-size: 20px;
    line-height: 30px;
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    background-color: $not-quite-white;
    color: $not-quite-black;
}

body::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    background-color: $not-quite-white;
}

body::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.page__wrapper {
    position: relative;
    .logo {
        padding: auto;
        margin-left: 18%;
        margin-top: 3%;
        padding-bottom: 8vh;

        @media (max-width:768px) {
            margin-left: 4%;
        }
    }
    .page__content {
        margin-left: 18%;
        margin-right: 18%;
        @media (max-width: 768px) {
            margin-top: 20%; 
            margin-left: 10%;
            margin-right: 10%;
        }
        h1 {
            @media (max-width: 768px) {
                font-size: 28px; 
            }
        }
        h2 {
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .info__wrapper {
            height: max-content;
            
            .opening__title {
                line-height: 1.3;
            }
            .info__buttons {
                padding-bottom: 75px;
                padding-top: 75px;
                a {
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 15px;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black; 
                    display: block;
                    width: 70%;
                    text-decoration: none;
                    color: $not-quite-black;
                    text-align: center;
                    box-shadow: 10px 10px 25px $shadow-light;
                    transition: 0.4s;
                    transition-timing-function: ease-out;
                    @media (max-width: 1024px) {
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }
            
            
            a:hover {
                box-shadow: 10px 10px 25px $shadow-dark;
            }
        }
        .about__para {
            margin-bottom: 100px;
            h3  {
                font-size: 28px;
                margin-left: 3%;
            }
            p {
                font-size: 19px;
                line-height: 45px;
                @media (max-width: 768px) {
                    font-size: 17px;
                    line-height: 30px; 
                }
            }
            .button {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                border-right: 2px solid black;
                border-bottom: 2px solid black; 
                display: block;
                width: 70%;
                text-decoration: none;
                color: $not-quite-black;
                text-align: center;
                box-shadow: 10px 10px 25px $shadow-light;
                transition: 0.4s;
                transition-timing-function: ease-out;
                @media (max-width: 1024px) {
                    width: 100%;
                    font-size: 18px;
                }
            }
            .button:hover {
                box-shadow: 10px 10px 25px $shadow-dark;
            }
            a {
                color: $not-quite-black;
            }
        }
        
    }
    .footer {
        position: sticky;
        bottom: 0;
        left: 0;
        background-color: $not-quite-white;
        box-shadow: 10px 10px 25px $shadow-dark;
        .page__footer__message {
            font-size: 16px;
            text-align: center;
            @media (max-width: 768px) {
                padding: auto;
                font-size: 15px;
            }
            a {
                color: $not-quite-black;
            }    
        }
    }
}
