
.tree__content {
    position: relative;
    width: 100vw;
    height: 100vh;
    .links {
        position: relative;
        top: 25vh;
        a {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            border-right: 2px solid black;
            border-bottom: 2px solid black; 
            display: block;
            width: 50%;
            text-decoration: none;
            color: black;
            text-align: center;
            background-color: #efefef;
            @media (max-width: 768px) {
                width: 80%;
                font-size: 13px;
            }
        }    
    }    
}

